services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: prisma123
      POSTGRES_DB: streaming_management
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: